<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dynamicDataSource.dao.MysqlQueryMapper">
    <resultMap id="BaseResultMap" type="com.java.dynamicDataSource.entity.mybatis.MysqlQueryEntity">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <select id="queryList" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT ui.user_id user_id,
               ui.name user_name,
               'mysql-data' type
        FROM user_info ui
        LIMIT 0, 1
  </select>

</mapper>