<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dynamicDataSource.dao.OracleQueryMapper">
    <resultMap id="BaseResultMap" type="com.java.dynamicDataSource.entity.mybatis.OracleQueryEntity">
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <select id="queryList" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT UI.USERID USER_ID,
         UI.USERNAME USER_NAME,
         'ORACLE-DATA' TYPE
    FROM USER_INFO UI
   WHERE ROWNUM = 1
  </select>

</mapper>